
#areaJuego {
    background-image: url('images/fondo1.png');
    background-size: cover; 
    background-position: center; 
    width: 800px; 
    height: 400px; 
    background-color: lightgray;
    position: relative;
    margin-bottom: 20px; /* Espacio entre el área de juego y las barras de salud */
    position: fixed;
    top: 25%;
    left: 25%;
}


#character1 {
    background-image: url('images/personaje1Normal.png');
    background-size: cover; 
    background-position: center; 
    width: 120px; 
    height: 120px;
    position: absolute;
}

#character2 {
    background-image: url('images/personaje2Normal.png');
    background-size: cover; 
    background-position: center; 
    width: 80px; 
    height: 80px;
    position: absolute;
}

.character {
    position: absolute;
    width: 50px;
    height: 50px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Espacio entre las barras de salud */
    width: 100%;

}

.containerVida1,
.containerVida2{
    margin-top: 50px;
    width: 500px;
    margin-left: 20px;
}

.containerVida2 *{
    text-align: right;
}

.health-bar { 
    width: 100%; /* Ancho de las barras de salud */
    height: 30px; /* Altura de las barras de salud */
    background-color: lightgreen; /* Color de fondo de las barras de salud */
    border: 1px solid black;
}

.status {
    margin-top: 1px; /* Espacio entre la barra de salud y el texto de estado */
    position: absolute;
    bottom: 15px; 
    font-size: 15px; 
}


.mensaje {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white; 
    padding: 20px; 
    border-radius: 10px; 
    z-index: 9999; 
    text-align: center; 
    font-size: 24px; 
}
